@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open sans', sans-serif;
  color: #fff;
  background-color: #333;
  line-height: 1.6;
  overflow-x: hidden;
}

header {
  background: url('../images/home/blog.jpg') no-repeat center center/cover;
  height: 30vh;
  opacity: 0.8;
}

h1 {
  font-weight: 300;
}

.fav {
  color: #28a745;
}

#blog-1 {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #333;
  padding: 0 30px;
  opacity: 0.9;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content h1 {
  font-size: 55px;
  z-index: 15;
}

ul {
  list-style: none;
}

li a {
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 5px;
  color: white;
  background: #333;
}

li a:hover {
  border-bottom: 2px solid #28a745;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#blog-2 {
  min-height: 100%;
  display: flex;
  justify-content: center;
}

#blog-2-img img {
  min-height: 100%;
}

#in-blog-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px 25px;
  background: #fff;
  color: #333;

}

#in-blog-2 h2 {
  font-size: 2.5rem;
  font-weight: 300;
  margin-top: 80px;
  margin-bottom: 20px;
}

#in-blog-2 h4 {
  font-weight: 200;
  margin-bottom: 50px;
}

#in-blog-2 a {
  text-decoration: none;
  text-align: center;
  width: 25%;
  display: block;
  color: #fff;
  background: #333;
  padding: 10px 20px;
  border: 1px solid #fff;
  border-radius: 5px;
  margin-top: 20px;
}

#blog-3 {
  min-height: 100%;
  display: flex;
  justify-content: center;
}

#blog-3-img img {
  min-height: 100%;
}

#in-blog-3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px 25px;
  background: #333;
  color: #fff;

}

#in-blog-3 h2 {
  font-size: 2.5rem;
  font-weight: 300;
  margin-top: 80px;
  margin-bottom: 20px;
}

#in-blog-3 h4 {
  font-weight: 200;
  margin-bottom: 50px;
}

#in-blog-3 a {
  text-decoration: none;
  text-align: center;
  width: 25%;
  display: block;
  color: #333;
  background: #fff;
  padding: 10px 20px;
  border: 1px solid #fff;
  border-radius: 5px;
  margin-top: 20px;
}

#blog-4 {
  min-height: 100%;
  display: flex;
  justify-content: center;
}

#blog-4-img img {
  min-height: 100%;
}

#in-blog-4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px 25px;
  background: #fff;
  color: #333;

}

#in-blog-4 h2 {
  font-size: 2.5rem;
  font-weight: 300;
  margin-top: 80px;
  margin-bottom: 20px;
}

#in-blog-4 h4 {
  font-weight: 200;
  margin-bottom: 50px;
}

#in-blog-4 a {
  text-decoration: none;
  text-align: center;
  width: 25%;
  display: block;
  color: #fff;
  background: #333;
  padding: 10px 20px;
  border: 1px solid #fff;
  border-radius: 5px;
  margin-top: 20px;
}

.social i {
  color: #fff;
  margin: 10px;
} 

.social i:hover {
  color:  #28a745;
}

footer {
  height: 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


@media(max-width: 768px) {
  #blog-1 {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 120px;
    background-color: #333;
    padding: 0 20px;
    opacity: 0.9;
  }

  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  li a {
    text-decoration: none;
    padding: 10px 10px;
    margin: 0 3px;
    color: white;
    background: #333;
  }

  #blog-2, #blog-3, #blog-4 {
    display: flex;
    flex-direction: column;
  }

  #blog-2-img, #blog-3-img, #blog-4-img {
    min-height: 100%;
  }

  #blog-2-img img, #blog-3-img img, #blog-4-img img {
    display: block;
    width: 100%;
  }

  #in-blog-2 h2, #in-blog-3 h2, #in-blog-4 h2 {
    margin-top: 10px;
  }

  #in-blog-2 a, #in-blog-3 a, #in-blog-4 a {
    width: 40%;
  }
}